/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media only screen and (max-width: 768px) {

    .fc-header-toolbar,
    .calendar-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        
    }

    .fc-toolbar-chunk{
        font-size: 12px;
    }

    .fc-view{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
    }

    .fc-event-title-container{
        padding: 10px;
        height: 70px;

    }   

    .fc-event-title{
        font-size: 12px;
        
        
    }

    .fc-col-header-cell-cushion{
        font-size: 10px;
    }

    .fc-daygrid-day-top{
        font-size: 10px;
    }

    .fc-day{
        height: 30px;
    }

    /* .fc-day{
        width: px;
    } */
    
}



/* CALENDAR STYLING (BASIC) */

.calendar{
    padding: 20px;
}

.calendar > * {
    font-family: sans-serif;
}

.calendar-title{
    color: black;
}

.fc-toolbar-title{
    color: black;
}

.fc-event-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-direction-ltr .fc-button-group > .fc-button{
    text-transform:capitalize;
}

.fc-col-header-cell{
    color: #6D31EDFF;
}

.fc .fc-daygrid-day-number{
    color: #171A1FFF;
}


.fc .fc-daygrid-day.fc-day-today{
    background-color: #F1EAFF;
}


